{% extends "pages/page.html" %}

{% load mezzanine_tags i18n%}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block main %}
{{ block.super }}
{% if request.GET.sent %}
    {% editable page.form.response %}
    {{ page.form.response|richtext_filters|safe }}
    {% endeditable %}
{% else %}
    {% with page.form as page_form %}
    {% editable page_form.content %}
    {{ page_form.content|richtext_filters|safe }}
    {% endeditable %}
    {% endwith %}

    {% errors_for form %}

    <form class="mezzanine-form form-horizontal" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        <fieldset>{% fields_for form %}</fieldset>
        <div class="form-actions col-lg-10 col-lg-offset-3">
            <input class="btn btn-info btn-lg" type="submit" value="{% blocktrans %} Wyślij {%endblocktrans%}">
        </div>
    </form>
{% endif %}
{% endblock %}

{% comment %}{{ page.form.button_text }}{% endcomment %}
