/* ┌────────────────────────────────────────────────────────────┐ */
/* │ Brault & Barnes Design, LLC.                               │ */
/* ├────────────────────────────────────────────────────────────┤ */
/* │ Portions are Copyright © 2013                              │ */
/* │ Developed by @jeremybrault                                 │ */
/* ├────────────────────────────────────────────────────────────┤ */
/* │ http://www.braultbarnesdesign.com || @braultbarnes         │ */
/* └────────────────────────────────────────────────────────────┘ */

h1,
h2,
h3,
h4,
h5,
h6,
body,
a,
p,
ul,
li,
input{

	font-family: 'Lato', sans-serif;
	font-weight:300;
	padding:0;
	margin:0;
	color:#222;
	line-height:20px;

}
body{

	background-color:#fff;
	margin-top:10px;

}
p {
	font-size:14px;

}
h1{
	font-size:35px;
	line-height:45px;
	padding-bottom:20px;

}
h3 {
	font-size:19px;
	line-height:28px;
}
h4 {

	font-size:19px;
}
ul,
li {

	list-style:none;
	list-style-position:left;
	font-size:13px;
}
hr {

	height:1px;
	border:0px;
	border-bottom:1px solid #ccc;
	margin:0 20px;


}
h1.secondary,
h3.secondary,
p.secondary,
label.secondary,
#feed div.feed_date{
	font-family: 'Bitter', serif;
	font-style:italic;
	font-size:13px;
	line-height:24px;
	-webkit-font-smoothing: antialiased!important;
	-moz-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;
}
.box h3,
.box h4 {

	background-color:#fb5d35;
	letter-spacing:0.09em;
	color:#fff;
	padding:8px 13px 10px 13px;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: antialiased!important;
	-moz-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;

}


/*————————————————LINKS——————————————————————*/
a,
a:visited,
a:hover,
a:active {
	text-decoration:none;
	cursor: pointer;
}
a {
	color:#222;
	text-rendering:optimizeLegibility;

}
a:hover,
a.current,
a.internal,
.navlinks .inquirelink a.current{
	color:#fb5d35;
}

/* pointer link */
a.internal span {

	display:inline-block;
	width:0px;
	height:0px;
	border-bottom:5px solid transparent;  /* left arrow slant */
	border-top:5px solid transparent; /* right arrow slant */
	border-left:5px solid #fb5d35; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;
	position:relative;
	top:1px;
	vertical-align:text-top;
}
a.internal:hover span{

	margin-left:10px;

}
a.internal span{

	margin-left:5px;
	-webkit-transition: margin cubic-bezier(0.42, 0, 0.58, 1.0) .1s;
	-moz-transition: margin cubic-bezier(0.42, 0, 0.58, 1.0) .1s;
	-o-transition: margin cubic-bezier(0.42, 0, 0.58, 1.0) .1s;
	transition: margin cubic-bezier(0.42, 0, 0.58, 1.0) .1s;
}
.navlinks a,
a.internal,
.footerlinks li, .footerlinks a{
	font-size:10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.navlinks .inquirelink a {
	color:#888894;
}
/*————————————————PRE-HERO——————————————————————*/

/*mobile*/
@media (max-width: 767px) {
	ul.navlinks li{

		display: inline;
		padding:0 10px;

	}
	ul.navlinks {
		text-align:center;
		padding-bottom:50px;
		margin:0 auto;
		float:none;
	}
}
/*not-mobile*/
@media  (min-width: 768px) {
	ul.navlinks li{

		display: inline;
		padding:0 20px 0 0;

	}
    ul.navlinks {
		text-align:left;
	}

}
ul.navlinks {

	margin-top:20px;

}
div.logo {

		width:103px;
		height:100px;
		margin:-10px auto 20px;

}
html.svg div.logo a {

		background-image:url(/img/logo.svg);
}
html.no-svg div.logo a {

		background-image:url(/img/logo.png);
}
div.logo a {

	display:block;
	width:103px;
	height:63px;
	background-repeat:no-repeat;

}
div.logo a h1{
	padding-top:70px;
	font-size:9px;
	letter-spacing: 0.15em;
	line-height:15px;
	text-transform: uppercase;
	text-align:center;
	font-weight: 400;

}
#pre_hero {
	text-align:center;
	margin:0 auto;
	max-width:1000px;
}
#pre_hero p {
	padding-right:25px;
}



/*————————————————HERO——————————————————————*/




/* on all screens */
#mega_hero {
	position:relative;
	overflow:hidden;
	-moz-user-select: none;
  	-khtml-user-select: none;
 	-webkit-user-select: none;
 	user-select: none;

}
#mega_hero .hero_controls {

	display:block;
	margin:0 auto;
	position:relative;
	width:100%;
	height:0px;
	max-width:1600px;
}
html.no-touch #mega_hero div.arrowLeft {

	position:absolute;
	z-index:2;
	width:40%;
	height:330px;
	cursor:pointer;

}
html.no-touch #mega_hero div.arrowRight {

	position:absolute;
	z-index:3;
	width:40%;
	height:330px;
	right:15px;
	cursor:pointer;

}
html.no-touch #mega_hero div.arrowLeft span {
	position:absolute;
	left:30px;
	top:130px;
	width:29px;
	height:55px;



}
html.no-touch #mega_hero div.arrowRight span {
	position:absolute;
	right:30px;
	top:130px;
	width:29px;
	height:55px;

}
html.no-touch #mega_hero div.arrowRight:hover span{

	background-position:right top;
	background-image:url(/img/hero_arrow_sprite.gif);
	background-repeat:no-repeat;

}
html.no-touch #mega_hero div.arrowLeft:hover span {

	background-position:left top;
	background-image:url(/img/hero_arrow_sprite.gif);
	background-repeat:no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	html.no-touch #mega_hero div.arrowLeft:hover span,
	html.no-touch #mega_hero div.arrowRight:hover span {
	background-image:url(/img/hero_arrow_sprite@2x.gif);
	background-size:58px 55px;
	}
}



html.touch #mega_hero div.arrowRight, html.touch #mega_hero div.arrowLeft {

	display:none;

}
#hero{

	padding-bottom:0px;
	max-width:1600px;
	margin:0 auto;
	overflow: hidden;
 	visibility: hidden;
  	position: relative;

}

.hero_item,
.hero_item div {

	position:relative;

}

.hero_item div.box {


	background-position:center bottom;
	background-repeat:no-repeat;


}
#well_crafted div.box {

	background-image:url(/img/hero_things_organized_bw.jpg);
}
#simplicity div.box {
	background-image:url(/img/hero_simplicity_06.jpg);
}

#nature div.box {
	background-image:url(/img/hero_nature_01.jpg);
}

#well_crafted div#r-draw_01 {

	position:relative;
	width:767px;
	margin:0 auto;
	top:100px;
}


#hero .hero_item .caption {

	position:relative;
	background-repeat:no-repeat;
	height:45px;
	margin-left:20px;

	}
#hero .hero_item .caption span{
	position:absolute;
	display:block;
	top:14px;
	left:35px;
	width:17px;
	height:17px;
	background-repeat:no-repeat;

}
html.svg #hero .hero_item .caption span{

	background-image:url(/img/hero_subtext_icons.svg);

}
html.no-svg #hero .hero_item .caption span{

	background-image:url(/img/hero_subtext_icons.png);

}
#well_crafted div.caption span {

background-position:-34px 0px;margin:-2px 0 2px 0;

}
#simplicity div.caption span {

background-position:-17px 0px;margin:-4px 0 4px 0;

}
#nature div.caption span {

background-position:0px 0px;
}


.hero_item .box h3 {

	position:absolute;
	z-index:5;

}
.hero_item .box h4 {

	position:absolute;
	z-index:5;

}

#hero .caption p{

	padding: 10px 5px 10px 50px;
}


#hero div.swipe-wrap {
  overflow: hidden;
  position: relative;

}

#hero div.swipe-wrap div.swipe-element {


	  float:left;
  width:100%;
  position: relative;
}



/* only on large sceens */

@media (min-width: 768px) {

	.hero_item .box h3 {

		width:25%;
		bottom:30px;
		min-width:300px;
		left:30px;
		padding:25px 30px;

	}

	#hero .hero_item .caption {
		min-width:300px;
		padding:0 0 0 15px;
	}
	.hero_item div.box{

		height:330px;
		background-position:center bottom;
		background-repeat:no-repeat;

	}
}
/* only on small sceens */
@media (max-width: 767px) {

	#hero {
		margin:0;
		padding-bottom:15px;
		min-width:0;
	}
	#simplicity div.box {
		background-image:url(/img/hero_simplicity_04.jpg);
	}
	.hero_item .box h3 {
		display:none;
	}
	.hero_item .box {
		overflow:hidden;
	}
	#hero .hero_item .caption {
		display:none;
	}
	.hero_item.cover .box h3 {
		display:block;
		height:250px;
		width:90%;
		padding:80px 5%;
		font-size:20px;
		font-weight:300;
		text-align:center;
		background-color:#fb5d35;
		background-color:rgba(251, 93, 53, .8);
		cursor:pointer;
	}
	#hero .hero_item .toggleButton {
		display:block;
		background-color:#fb5d35;
		position:absolute;
		z-index:20;
		width:50px;
		height:50px;
		left:10px;
		bottom:10px;
    	cursor:pointer;
	}
	/*html.no-touch #hero .hero_item .toggleButton:hover {
		background-color:#e04619;
	}
	html.no-touch #hero .hero_item.cover .toggleButton:hover {
		background-color:transparent;
	}*/
	html.svg #hero .hero_item .toggleButton span {

		background-image:url(/img/hero_toggle_sprite.svg);
	}
	html.no-svg #hero .hero_item .toggleButton span {

		background-image:url(/img/hero_toggle_sprite.png);
	}
	#hero .hero_item .toggleButton span  {
		position:absolute;
		width:17px;
		height:17px;
		left:16px;
		top:17px;
		background-repeat:no-repeat;
		background-position:0px 0px;
	}
	#hero .hero_item.cover .toggleButton {
		background-color:transparent;
	}
	#hero .hero_item.cover .toggleButton span {
		background-position:-17px 0px;
	}


	#well_crafted.cover .box h3 {

	}
	#simplicity.cover .box h3  {

		padding-top:50px;
	}
	#nature.cover .box h3  {

	}

	html.backgroundsize .hero_item div.box{

	height:250px;
	background-size:auto 100%;


	}
	html.no-backgroundsize .hero_item div.box{

	height:250px;


	}
}

/*————————————————CONTENT MODULES——————————————————————*/
div.grey_flood {

	background-color:#f5f5f5;
	/*margin:0 auto;
	max-width:1600px;*/

}
html.svg div.title {

		background-image:url(/img/jewel.svg);

}
html.no-svg div.title {

		background-image:url(/img/jewel.png);

}
div.title {

	padding-top:45px;
	background-repeat:no-repeat;
	background-position:0px 0px;

}
div.title_plain {

	padding-top:45px;
	background-image:none;

}
div.title h1,
div.title_plain h1 {

}
div.title p,div.title_plain p {

	font-size:20px;
	line-height:28px;
	padding-bottom:15px;
	color:#222;

}
/*————————————————ABOUT————————————————————————*/
div.bio {

	padding-bottom:70px;

}
div.bio div {

	position:relative;
	width:100%;
	max-width:570px;
	height:261px;
	background-repeat:no-repeat;
	background-position:center center;

}
div#jeremy_photo {

	background-image:url(/img/about_profile_jeremy.jpg);


}
div#lisa_photo {

	background-image:url(/img/about_profile_lisa.jpg);

}


/* this is for retina displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	div#jeremy_photo {

		background-image:url(/img/about_profile_jeremy@2x.jpg);
			background-size: auto 100%;

	}
	div#lisa_photo {

		background-image:url(/img/about_profile_lisa@2x.jpg);
			background-size: auto 100%;
	}

}

div.bio .box h3 {

	position:absolute;
	bottom:20px;
	left:20px;

}
div.bio h3.secondary {

	padding-top:30px;
	padding-bottom:8px;

}
div.bio ul {

	padding-top:30px;

}
div.bio ul li{

	display:inline-block;
	padding:5px;

}


div.timeline {

	/*background-image:url(/img/timeline_guide.jpg);*/
	min-height:300px;
	background-repeat:no-repeat;
	position:relative;
	border-top:1px solid #ccc;
	margin-top:10px;

}
div.timeline div.scale {

	position:absolute;
	width:99.85%;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin-top:-3px;
	height:5px;

}
div.scale span {
	display:inline-block;
	margin: 10px 13.4% 0 0;
	font-size:11px;
	font-weight:400;
	color:#4a4a4a;

}
div.scale span.last {

	margin-right:0px;
}
div.timeline_event {

	background-repeat:no-repeat;
	background-position:bottom left;

}
div.timeline_event a {

	font-style:normal;
	font-size:15px;
	-webkit-font-smoothing: auto;
	-moz-font-smoothing: auto;
	font-smoothing: auto;

}
div.timeline_event div {

	position:absolute;
	height:100%;
	width:100%;
	margin-left:55px;
	border-left:1px dashed #ccc;

}
div.timeline_event div p {

	position:absolute;
	bottom:0px;
	width:100%;
	padding-left:10px;
	padding-bottom:0px;
	margin:0;

	font-family: 'Bitter', serif;
	font-style:italic;
	font-size:12px;
	line-height:18px;
	color:#4a4a4a;
	background-color:#f6f6f6;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;

}
div.timeline_event span.arrow {

	position:absolute;
	margin:-5px 0 0 50px;
	display:inline-block;
	width:0px;
	height:0px;
	border-left:5px solid transparent;  /* left arrow slant */
	border-right:5px solid transparent; /* right arrow slant */
	border-bottom:5px solid #7e9daa; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;

}


html.svg div.timeline_event span.icon {background-image:url(/img/icon_sprite.svg);}
html.no-svg div.timeline_event span.icon {background-image:url(/img/icon_sprite.png);}

div.timeline_event span.icon {
	position:absolute;
	bottom:0;
	left:0;
	height:23px;
	width:46px;
	background-repeat:no-repeat;
}
div#timeline_meet span.icon {

	background-position:0 -46px;

}
div#timeline_rit span.icon{

	background-position:-46px -46px;

}
div#timeline_sf span.icon{

	background-position:-92px -46px;

}
div#timeline_pml span.icon{

	background-position:-138px -46px;

}
div#timeline_start span.icon{

	background-position:-184px -46px;

}
/*wide*/
@media (min-width: 980px) {

	div.timeline_event {

		position:absolute;
		height:100px;
		width:170px;


	}
	div#timeline_meet {

		left:5%;

	}
	div#timeline_rit {

		height:202px;
		left:34%;

	}
	div#timeline_sf {

		left:40%;

	}
	div#timeline_pml {

		height:202px;
		left:70%;

	}
	div#timeline_start {

		left:76%;

	}

}
/* narrow */
@media (max-width: 979px) and (min-width: 768px){

	div.scale span {

		display:none;

	}

	div.timeline_event {

		position:absolute;
		width:200px;

	}

		div#timeline_meet {

			height:70px;
			z-index:5;
			left:5%;

		}
		div#timeline_rit {

			height:160px;
			z-index:4;
			left:18.75%;

		}
		div#timeline_sf {

			z-index:3;
			height:230px;
			left:32.5%;

		}
		div#timeline_pml {

			z-index:2;
			height:310px;
			left:46.25%;

		}
		div#timeline_start {

			z-index:1;
			height:370px;
			left:60%;

		}
} /*micro*/
@media (max-width: 767px){
	div.scale span {

		display:none;

	}


	div.timeline {

		position:relative;

	}
	div.timeline_event  {

		position:relative;
		left:5%;
		width:60%;



	}
	div.timeline_event div {
		margin-top:2px;
		position:relative;
	}
	div.timeline_event div p {

		padding-top:32px;
		position:relative;

	}
	div.timeline_event span.arrow {

		display:none;
	}

}

/*—————————————————WORK—————————————————————————*/
#work {

	padding-top:60px;

}
div.center {

	background-position:top center;
	text-align:center;

}
#work  h1 {

	padding:0 30px 30px;

}
#work  h3 {

	padding:0px 30px 25px;
	max-width:700px;
	margin:0 auto;

}
a#request_button {

	color: #fff;
	font-size:13px;
	font-weight:400;
	letter-spacing:0.09em;
	text-transform:uppercase;
	border: none;
	padding: 12px 15px;
	background-color:#fb5d35;
	-webkit-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);

}
a#request_button:hover{

	background-color:#e04619;
}
a#request_button:active{
	background-color:#222;
}
#work .column {
	width:1px;

	padding-top:70px;
	margin:0 auto;
	position:relative;
	max-width:1078px;
	min-width:268px;
	display:block;
}
#work div.box_sm, #work div.box_long {

	position: relative;
	float: left;
	margin:0 6px 6px 0;
	padding:0;
}

#work div.box_sm {
	height:263px;
	width:263px;

}
#work div.box_long {

	height:263px;
	width:532px;

}

#work .column {

	min-width:538px;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#work div.box_sm {
		height:130px;
		width:130px;
		background-size:100% 100%;
		margin:0 2px 2px 0;
	}
	#work div.box_long {
		height:130px;
		width:262px;
		background-size:100% 100%;
		margin:0 2px 2px 0;
	}
	#work .column {
		min-width:268px;
	}
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width:450px), (min-resolution: 192dpi) and (min-width:450px) {
	#work .column {min-width:396px;}}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width:600px), (min-resolution: 192dpi) and (min-width:600px) {
	#work .column {min-width:528px;}}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width:1140px), (min-resolution: 192dpi) and (min-width:1140px) {
	#work .column {min-width:1058px;}}

@media (-webkit-max-device-pixel-ratio: 1.9) and (min-width:900px), (max-resolution: 191dpi) and (min-width:900px){
#work .column {min-width:814px;}}

@media (-webkit-max-device-pixel-ratio: 1.9) and (min-width:1140px), (max-resolution: 191dpi) and (min-width:1140px){
#work .column {min-width:1080px;}}

@media (-webkit-max-device-pixel-ratio: 1.9) and (max-width:899px), (max-resolution: 191dpi) and (max-width:899px){
#work .column {

		min-width:550px;
	}
}

/*————————————————PROCESS——————————————————————*/

	html.svg div#process_understand {background-image:url(/img/process_understand.svg);}
	html.svg div#process_research {background-image:url(/img/process_research.svg);}
	html.svg div#process_concept {background-image:url(/img/process_concept.svg);}
	html.svg div#process_design {background-image:url(/img/process_design.svg);}
	html.svg div#process_develop {background-image:url(/img/process_develop.svg);}
	html.svg div#process_deliver {background-image:url(/img/process_deliver.svg);}

	html.no-svg div#process_understand {background-image:url(/img/process_understand.png);}
	html.no-svg div#process_research {background-image:url(/img/process_research.png);}
	html.no-svg div#process_concept {background-image:url(/img/process_concept.png);}
	html.no-svg div#process_design {background-image:url(/img/process_design.png);}
	html.no-svg div#process_develop {background-image:url(/img/process_develop.png);}
	html.no-svg div#process_deliver {background-image:url(/img/process_deliver.png);}
/*mobile*/
@media (max-width:767px) {


	div.process p, div.process h3{

		margin-left:105px;
		background-repeat:no-repeat;
		padding-right:5%;
	}
	div.process {

		padding-top:0px;
		background-repeat:no-repeat;
		padding-top:20px;
		padding-bottom:15px;
		min-height:130px;
		max-width:550px;
		margin:0 auto;
	}
	html.svg div#process_understand {

		background-size:80px auto;
		background-position:25px 30px ;

	}
	html.svg div#process_research {

		background-size:80px auto;
		background-position:15px 30px ;

	}
	html.svg div#process_concept {

		background-size:80px auto;
		background-position:7px 30px ;

	}
	html.svg div#process_design {

		background-size:85px auto;
		background-position:5px 26px ;

	}
	html.svg div#process_develop {

		background-size:80px auto;
		background-position:10px 25px ;

	}
	html.svg div#process_deliver {

		background-size:90px auto;
		background-position:5px 20px ;

	}
	html.no-svg div#process_understand,
	html.no-svg div#process_research,
	html.no-svg div#process_concept,
	html.no-svg div#process_design,
	html.no-svg div#process_develop,
	html.no-svg div#process_deliver {

		background-position:0 0 ;
	}
}


/*not mobile */
@media (min-width:768px) {

	div.process {

		padding-top:146px;
		background-repeat:no-repeat;

	}
	div.process p {

		padding-right:10%;

	}
	html.svg div#process_understand {


		background-size:100px auto;
		background-position:0 10px ;

	}
	html.svg div#process_research {

		background-size:97px auto;
		background-position:0 30px ;

	}
	html.svg div#process_concept {

		background-size:120px auto;
		background-position:0 20px;

	}
	html.svg div#process_design {

		background-size:120px auto;
		background-position:0 30px ;

	}
	html.svg div#process_develop {

		background-size:110px auto;
		background-position:0 30px ;

	}
	html.svg div#process_deliver {

		background-size:120px auto;
		background-position:0 20px ;

	}
	html.no-svg div#process_understand,
	html.no-svg div#process_research,
	html.no-svg div#process_concept,
	html.no-svg div#process_design,
	html.no-svg div#process_develop,
	html.no-svg div#process_deliver {

		background-position:0 40px ;

	}
}




div.process p {
	color:#666673;

}
div.process h3 span.number {

	color:#fb5d35;

}
div.process img {

	padding:0;

}

span.endarrow {

	display:inline-block;
	background-image:url(/img/end_arrow.svg);
	background-repeat:no-repeat;
    width:23px;
    height:7px;
    margin:-1px 0px 0 10px;
    vertical-align:middle;

}



/*-------------CAPABILITIES-----------------*/



/*mobile*/
@media (max-width:979px){

	ul#capabilities_list li {
		display:inline-block;
		background-color:#e4e6e7;
		padding:5px 8px 6px 7px;
		margin:2px 1px;

	}
}

/*not-mobile*/
@media  (min-width: 980px) {

	ul#capabilities_list li {
		display:inline-block;
		background-color:#e4e6e7;
		padding:10px 16px 12px 14px;
		margin:3px 2px;
	}

}

/*global*/
ul#capabilities_list li {

	font-weight:300;
	font-size:15px;
}


/*————————————————TEAM——————————————————————*/



#team,
div#jeremy_column,
div#lisa_column,
div#logo_column {
	position:relative;
}
#team ul.info {
	display:none;
	position:absolute;
	bottom:10px;
	left:10px;
	padding-right:10px;
	width:80%;
}
#team ul.info li {
	display:inline-block;
	color:#222;

	padding:2px 7px 2px 5px;
	background-color:#fff;
	margin-bottom:1px;
	margin-right:1px;
	margin-left:0px;
}
#team:hover ul.info, html.touch #team ul.info {

	display:block;

}
#team div.positioner, #team div.positioner_sm{
	position:absolute;

	border:3px solid #fff;
}
#team div.positioner span, #team div.positioner_sm span{

	position:absolute;
	font-size:12px;
	font-weight:400;
	color:#fff;
}

div#jeremy_column .positioner{

	width:34px; height:34px;
	margin-left:35%; margin-top:42px;

}
div#jeremy_column .positioner span {

	margin-left:40px;margin-top:-7px;

}
div#lisa_column .positioner{

	width:30px; height:29px;
	margin-left:35%; margin-top:31px;

}
div#lisa_column .positioner_sm{

	width:22px; height:25px;
	margin-left:39%; margin-top:79px;

}
div#lisa_column .positioner span {

	margin-left:36px; margin-top:-7px;

}
div#lisa_column .positioner_sm span {

	margin-left:29px; margin-top:-7px;

}
div#jeremy_column {

	background:url(/img/jeremy_bg.jpg);
		background-position: top center;
	background-repeat:no-repeat;
	max-width:180px;
	float:left;
	margin-right:3px;

}
div#lisa_column {

	max-width:180px;
	background:url(/img/lisa_bg.jpg);
	background-position: top center;
	background-repeat:no-repeat;
	float:left;
	margin-right:3px;

}

/*//retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	div#jeremy_column {
		background:url(/img/jeremy_bg@2x.jpg);
		background-position: top center;
		background-repeat:no-repeat;
		-moz-background-size:199px 262px;
		-ie-background-size:199px 262px;
		-o-background-size:199px 262px;
		-webkit-background-size:199px 262px;
		background-size:199px 262px;
	}

	div#lisa_column {
		background:url(/img/lisa_bg@2x.jpg);
		background-position: top center;
		background-repeat:no-repeat;
		-moz-background-size:199px 262px;
		-ie-background-size:199px 262px;
		-o-background-size:199px 262px;
		-webkit-background-size:199px 262px;
		background-size:199px 262px;
	}

}

html.svg div#logo_column {
	max-width:180px;
	background:url(/img/bb_logo_white.svg) no-repeat center 45%;
	-webkit-background-size: 55% auto;
	-moz-background-size: 55% auto;
	background-size: 55% auto;
	float:left;
	background-color:#fb5d35;

}
html.no-svg div#logo_column {
	max-width:180px;
	background:url(/img/bb_logo_white.gif) no-repeat center top;
	float:left;
	background-color:#fb5d35;

}
.base {

	clear:both;
	padding-top:20px;
}

@media (min-width: 980px) {

	div#jeremy_column {
		height:261px;
		width:33%;
	}
	div#lisa_column {
		height:261px;
		width:33%;

	}
	div#logo_column {
		height:261px;
		width:31%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	div#jeremy_column {
		height:261px;
		width:48%;

	}
	div#lisa_column {
		height:261px;
		width:48%;
	}
	div#logo_column {
		height:261px;
		width:0%;
	}
}
@media (max-width: 767px) and (min-width:401px) {
	div#jeremy_column {
		height:261px;
		width:33%;

	}
	div#lisa_column {
		height:261px;
		width:33%;

	}
	div#logo_column {
		height:261px;
		width:31%;
	}
}


@media (max-width: 400px) {
	div#jeremy_column {
		height:200px;
		width:33%;

	}
	div#lisa_column {
		height:200px;
		width:33%;

	}
	div#logo_column {
		height:200px;
		width:31%;
	}
	div#jeremy_column .positioner{

	width:34px; height:34px;
	margin-left:30%; margin-top:42px;

	}
	div#lisa_column .positioner{

		width:30px; height:29px;
		margin-left:28%; margin-top:31px;

	}
	div#lisa_column .positioner_sm{

		width:22px; height:25px;
		margin-left:34%; margin-top:79px;

	}

}


/*————————————————PRE-FOOTER———————————————————*/

div#pre_footer {


}
div#pre_footer::after {
clear:both;
}
div#pre_footer div.contact {
position:relative;
width:60%;
float:left;
}
div#pre_footer div.feed {
position:relative;
width:241px;
float:right;
}

@media (max-width:767px) {

	div#pre_footer div.feed,
	div#pre_footer div.contact {

		float:none;
		width:100%;
		padding-bottom:20px;
	}
	div#pre_footer div.contact {
/*
		padding-top:40px;*/

	}
	div#pre_footer div.feed {

		padding-top:20px;

	}
}


/*————————————————CONTACT——————————————————————*/






html.svg #pre_footer {

	background-image:url(/img/map_seal.svg);
	background-size:200px auto;

}
html.no-svg #pre_footer {

	background-image:url(/img/map_seal.png);

}
#pre_footer {

	padding-top:10px;
	min-height:300px;
	background-repeat:no-repeat;
	background-position:310px 88px;
}
div.contact ul.vitals {

	width:30%;float:left;min-width:300px;

}
div.contact ul.social {

	width:30%;float:left;min-width:300px;

}
div.contact ul.location {

	width:30%;float:left;min-width:300px;
}

#pre_footer h1, #form_holder h1{

	font-family:'Bitter', sans-serif;
	font-size:18px;
	font-weight:400;

}
#pre_footer .contact h1{

	padding:10px 0 40px;

}
div.contact ul li {

	padding-bottom:15px;
}
html.svg #hello_bubble{

		background-image:url(/img/speech_bubble.svg);

}
html.no-svg #hello_bubble{

		background-image:url(/img/speech_bubble.png);

}
#hello_bubble {

	position:absolute;
	background-repeat:no-repeat;
	display:block;
	width:100px;
	height:100px;
	margin:-70px 0 0 80px;

}
#hello_bubble p {
	text-align:center;
	color:#fff;
	padding-top:38px;
	font-size:20px;
	font-weight:300;
	-webkit-font-smoothing: antialiased!important;
	-moz-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;

}
.contact li a {

	font-size:15px;

}

html.svg .contact span {background-image:url(/img/icon_sprite.svg);}
html.no-svg .contact span {background-image:url(/img/icon_sprite.png);}

.contact span {
	margin-right:5px;
	display:inline-block;
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	vertical-align:middle;

}

span.contact_phone {
	background-position:0px 0px;
}
span.contact_email {
	background-position:-23px 0px;
}
span.contact_twitter {
	background-position:-46px 0px;
}
span.contact_instagram {
	background-position:-69px 0px;
}
span.contact_dribbble {
	background-position:-92px 0px;
}
span.contact_location {
	background-position:-115px 0px;
}
span.contact_flickr {
	background-position:-160px 0px;
}
span.contact_linkedin {
	background-position:-137px 0px;
}
a:hover span.contact_phone {
	background-position:0px -23px;
}
a:hover span.contact_email {
	background-position:-23px -23px;
}
a:hover span.contact_twitter {
	background-position:-46px -23px;
}
a:hover span.contact_instagram {
	background-position:-69px -23px;
}
a:hover span.contact_dribbble {
	background-position:-92px -23px;
}
a:hover span.contact_location {
	background-position:-115px -23px;
}
a:hover span.contact_flickr {
	background-position:-160px -23px;

}
a:hover span.contact_linkedin {
	background-position:-137px -23px;

}
div#project_inquiry_button {

	clear:both;
	padding-top:20px;

}
@media (min-width:1200px) {
	#pre_footer {


		background-position:545px 60px;

	}
	div#project_inquiry_button {

	padding-top:80px;


	}
}
@media (min-width:768px) and (max-width:979px) {

	#pre_footer {

		background-position:240px 120px;
	}
	html.svg #pre_footer {
		background-size:180px auto;

	}
	div.contact ul li {

		padding-bottom:10px;
	}
	div#project_inquiry_button {

		padding-top:40px;

	}
}

@media (max-width:767px) {

	html.svg #pre_footer, html.no-svg #pre_footer {

		background-image:none;



	}
	div.contact ul li {

		padding-bottom:10px;
	}
}

/*————————————————FEED——————————————————————*/


#pre_footer .feed h1 {
	padding: 10px 0 8px;
	line-height:50px;

}
#pre_footer .feed h3 {

	max-width:300px;
	padding-bottom:20px;
	margin-top:-15px;

}
#feed{
	max-height:300px;
	max-width:300px;
		  overflow: hidden;
  visibility: hidden;
  position: relative;

}

#feed div.swipe-element {

    margin: 0 auto 15px auto;
    padding: 0 0 20px 0;
    text-align: left;
    background-repeat:no-repeat;
    background-position:0px 2px;
    width:100%;

}
#feed div.swipe-element a {

    text-decoration: none;
}

/*feed-date*/
html.svg div.feed_date span {
	background-image:url(/img/icon_sprite.svg);
}
html.no-svg div.feed_date span {
	background-image:url(/img/icon_sprite.png);
}
div.feed_date{
	padding:0 0 10px;
}
div.feed_date span {
	display:block;
	float:left;
	width:23px;
	height:23px;
	margin-right:5px;
	background-repeat:no-repeat;

}

#feed div.swipe-wrap {
  overflow: hidden;
  position: relative;

}

#feed div.swipe-wrap div.swipe-element {


float:left;
  width:100%;
  position: relative;
}



.tweet div.feed_date span {

	background-position:-46px -23px;

}
.dribbble div.feed_date span {
	background-position:-92px -23px;

}
.instagram div.feed_date span{
	background-position:-69px -23px;

}



#feed div.instagram img,
#feed div.dribbble img{

	height:180px;
}

#feed div.swipe-wrap div.tweet p.body{

	border-top:1px solid #ccc;
	padding-top:20px;
    font-size: 18px;
    line-height:30px;
    max-width:250px;
    min-height:150px;


}
#feed div.swipe-wrap div.tweet .link a {

	position:absolute;
	bottom:15px;
	color:#222;
	font-size:12px;

}

/*————————————————FOOTER———————————————————————————*/

div.footer {

	padding:0 0 40px;
}
@media (max-width: 767px) {
	div.footerlinks li{

		display: inline;
		padding:0 15px;

	}
	div.footerlinks ul{

		text-align:center;
		padding-bottom:20px;
		margin:0 auto;
		float:none;
	}

}
/*not-mobile*/
@media  (min-width: 768px) {
	div.footerlinks li{

		display: inline;
		padding:0 30px 20px 0;

	}
    div.footerlinks {
		text-align:left;
	}

}
/*————————————————PAGINATION——————————————————————*/


.pagination {
    display:table;
    margin:0 auto;
}
.pagination_dot{
    display:table-cell;
    padding:0 16px 0 0;
}
.pagination_dot a{
    display:block;
    height:8px;
    width:8px;
    background-color:#d0d0d0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.pagination_dot a.active, .pagination_dot a.active:hover{

    background-color:#212129;
}
.pagination_dot a:hover{

    background-color:#aaa;
}

#feed_pagination {
    margin:0 0;
}

#hero_pagination_holder{
	padding:0 0 0 8px;
	text-align: center;
}



/*————————————————INQUIRY SECTION——————————————————————*/


#form_holder h1{

	padding:20px 0;

}
/* Budget Slider */
div#budget_slider_holder {

padding-bottom:30px;
max-width:400px;
}
div#toolTip {
	height: 28px;
	width:110px;
	text-align: center;
	border:1px #363333 solid;
	background-color: #363333;


	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

}
div#budget_number_display {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 0.09em;
	color: #fff;
	text-transform:uppercase;
	padding-top:4px;

}
div#tipArrow {
	width:0px;
	height:0px;
	border-right:5px solid transparent;  /* left arrow slant */
	border-top:5px solid #363333; /* right arrow slant */
	border-left:5px solid transparent; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;
	position:relative;
	left: 6px;
	top:0px;

}
div#budget_slider {


	width:90%;

}
div#dragger {
	z-index: 2;
	position: relative;
	top: 5px;
	left: 0px;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius:15px;
	border: 3px solid #fff;
	background-color: #fb5d35;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
}

div#sliderbar {

	position: relative;
  	top: 15px;
	width: 90%;
	height: 12px;
	border-radius: 3px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius:15px;
	background-color: #a2a2a3 ;


}
#budget_slider_holder ul {
	padding-top:20px;
}
#budget_slider_holder ul li {

	display: inline;
	padding:0 31% 0 2%;
	font-size:11px;
	font-weight:400;
	color:#595959;
}
#budget_slider_holder ul li.last {

	padding:0;
}
.dragdealer {
	position: relative;
}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
#budget_slider_holder p{

	margin-top:60px;
	font-size:12px;

}
#budget_slider_holder h3{
	padding-bottom:10px;

}


/*override to bootstrap*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 30px;
	width: 95%;
	max-width:400px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 13px;
	font-family:'Lato', sans-serif;
	font-weight:500;
	line-height: 20px;
	color: #bbb;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	vertical-align: middle;
}

/*override to bootstrap*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #444;
	border-width: 1px;
	outline: 0;
	outline: thin dotted \9;
	color:#555;
	/* IE6-9 */

	-webkit-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
}

textarea#desc {

	height:200px;
	max-width:none;


}

label span.required, label span.LV_validation_message {

	color:#fb5d35;
}

input[type="checkbox"] {
    display:none;

}

input[type="checkbox"] + label {
	text-transform:uppercase;
	font-size:12px;

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:28px;
    height:28px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/img/checkbox_sprite.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
    cursor:pointer;
}


input[type="checkbox"]:checked + label span {
    background-position:0px -30px;
}

/* this is for retina displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	input[type="checkbox"] + label span {

	    background:url('/img/checkbox_sprite@2x.png') 0px 0px no-repeat;
	    background-size:28px 58px;

	}

	input[type="checkbox"]:checked + label span {

	    background:url('/img/checkbox_sprite@2x.png') 0px -30px no-repeat;
	    background-size:28px 58px;

	}
}


input[type="submit"] {

	color: #fff;
	font-size:13px;
	font-weight:400;
	letter-spacing:0.09em;
	text-transform:uppercase;
	border: none;
	padding: 9px 15px;
	background-color:#fb5d35;
	-webkit-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.1);

}
input[type="submit"]:hover {
	background-color:#e04619;
}
input[type="submit"]:active {
	background-color:#222222;
}
input[type="submit"].submitted {

	background-color:#222222;
	-webkit-box-shadow:  0px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  0px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 0px rgba(0, 0, 0, 0.1);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

input[type="submit"]:hover.submitted {

	background-color:#222;
}
span#form_result {
	display:inline-block;
	padding-left:15px;
	font-family: 'Bitter', serif;
	font-style:italic;
	font-size:12px;
	height:22px;
	color:#2f2f2f;
}
html.no-backgroundsize span#form_result img{ display:none;}

/*-------------------------LEGAL------------------------------*/



div.legal ul, div.legal ul li {


	list-style:circle;
	list-style-type: circle;
}
div.legal ol, div.legal ol li {


	list-style:lower-alpha;
	list-style-type:lower-alpha;
}
div.legal *{
	margin-bottom:20px;


}

/*-------------------------RESPONSIVE------------------------------*/


/* mobile */
@media (max-width: 767px) {

	h1 {

		font-size:25px;
		line-height:40px;
	}
	.grey_flood {

		margin:0;
		padding:0;
	}

	div#pre_hero h1 {

		line-height:38px;
		padding:0 10% 40px;
	}
	div#pre_hero p {

		margin:20px 0 30px;
	}
	.pad_small {

		padding-top:0px;
	}
	.pad_large {

		padding-top:50px;
	}
	.pad_top_collapsing {

		padding-top:20px;

	}
	.pad_large_bottom {

		padding-bottom:100px;

	}
	.container {

		margin:0 20px;

	}
}
@media (max-width: 979px) {

	.two_up {

		width:100%;
		float:none;

	}
	.two_up input {

		width:95%;
	}
}

@media (min-width: 980px) {

	.two_up {

		width:50%;float:left;

	}
	.two_up input[type="text"] {

		width:90%;
	}
}

/* not mobile */
@media  (min-width: 768px) {

	h1 {

		font-size:35px;
		line-height: 50px;

	}
	.grey_flood {

		margin:0 10px;
	}

	div#pre_hero h1 {

		padding:0 15% 55px;

	}

	div#pre_hero p {

		margin:12px 0 45px;

	}
	.pad_small {

		padding-top:20px;

	}
	.pad_large {

		padding-top:100px;

	}
	.pad_large_bottom {

		padding-bottom:120px;

	}
	.pad_top_collapsing {

		padding-top:100px;

	}
	div.pad_contact {

		padding-top:110px;

	}
}